@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
    width: 100%;
    height: auto;
    font-family:'cwTeXYen', sans-serif,FuturaExtended,"微軟正黑體";
}
nav h3{font-size: 2em;}
video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.3;
}
main h1{
    font-size: 5em;
    margin-bottom: 0.655em;
}
main h2{
    font-size: 3em;
    display: inline-block;
}
main h3{font-size: 2.5em;
}
main h4{
    font-size: 1.5em;
    font-family: FuturaExtended,"微軟正黑體";
}
cite{
    font-size: 1.125em;
}
cite span{
    font-size: 1.75em;
}

/* index */
.name{
    display: inline-block;
    position:relative; 
    left:0.75em;
    font-size: 1.75em;
}
.noodle{
    background-image: url("../images/noodle.png");
    width: 2em;
    height: 5em;
}
.noodle-pos{
    float: right;
    position: absolute;
    top:0;
    right:30%;
}
    .normalvh{
    /*height: 100vh;*/
    }
    .word{
    width: 55vh;
    line-height: 2.25em;    
    }
    .word-pos{
    margin: 5em 0 5em 15em;
    }
    .slash{
    width: 5em;
    height: 1.25em;
    background-image: repeating-linear-gradient(315deg, transparent, transparent 2px, rgba(0,0,0,1) 2px, rgba(0,0,0,1) 4px);
    }
    .word .slash{
    margin: 2.5em 0;
    }
    .description{
    margin-top: 4em;
    }    
    .icon{
    width: 100%;
    display: inline-block;
    margin: 1em 0;
    }
    .icon a{
    margin: 0.5em 1em 1em 0;
    }
    .go-work{
    display: block;
    position: relative;
    width: 100%;
    height: 3em;
    line-height: 3em;
    z-index: 2;
    background-color: #39373d;
    border-radius: 50px; 
    }
     .description .go-work a{
    display: block;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    }
    .go-work a:hover{
    border-radius: 50px;
    animation:colorchange 1s ease-out forwards ;
    -webkit-animation:colorchange 1s ease-out  forwards;
    color:#f4dc88;
    }
    @keyframes colorchange{
    100%{ 
    background-color: #f4dc88;
    color: #39373d;        
    }
    }

    .go-work-shadow{
    display: block;
    position: relative;
    top:-2.25em;
    left: 0.5em;
    z-index:1;
    height: 3em;
    background-image: repeating-linear-gradient(315deg, transparent, transparent 2px, rgba(0,0,0,0.2) 2px, rgba(0,0,0,0.2) 4px); 
    border-radius: 50px;
    }

@media only screen and (max-width: 769px) {    
    .word-pos{ margin: 3em 1.25em ; }
    .word{ width:90%; line-height: 1.75em; }
    main h1{ font-size: 3em; }
    main h2{ font-size: 2em; }
    cite{ font-size: 1em; line-height: 0.5em; }
    cite span{ font-size: 1.25em; }
    main h4{ font-size: 1.25em; } 
    .slash{ width: 4em; height: 0.875em; margin: 2em 0;}
    .description{ margin-top: 2.5em;}
    .noodle{ width: 1.25em; height: 3em; background-size: 20px auto; }
    .noodle-pos{ right:10%; }
}

/* work */
.container{
    width: 70vw;
    height: auto;
    margin: 0 auto;
}
    .noodle-pos-op{   
    left:10%;
    position:absolute;
    top:0;
    }
    .noodle-pos-op a{
    display: block;
    width: 100%;
    height: 100%;
    }
    .container .nav{
    background-color: white;
    height: 3em;
    position: fixed;
    top:0;
    width:80vh;
    z-index: 5;
    }
        .nav h3{ display:inline-block; float:left; width:46%;padding: 1%;text-align: center; }        
    .container .main{
    position: relative;
    top:8em;    
    }
    .work-block h4,.contect-block h4{
    background-color: #39373d;
    color: #f4dc88;
    text-align: center;
    border-radius: 50px;
    margin: 1em 0 0 1em;
    width: 10em;
    height: 1.5em;
    line-height: 1.5em;    
    }
    .work-item {
    position: relative;    
    padding: 1.5em 3em;        
    }
    .work-item .work-pic{
    background-image: repeating-linear-gradient(315deg, transparent, transparent 2px, rgba(0,0,0,1) 2px, rgba(0,0,0,1) 4px);
    position:relative;
    width: 35em;
    margin: 0 auto;
    height: 20em;
    padding: 0.5em;
    box-sizing: border-box;
    }
    .work-item .work-pic a:hover{background-color: #f4dc88;}
    .work-item .work-pic img{
    display: inline-flex;
    position: relative;
    }
    .work-item figcaption{width: 35em;margin: 0 auto;}
    .work-item .item-name{ font-size: 1.25em; margin: 1em 1em 0 1em; display: inline-block;}
    .work-item .item-description{ font-size: 0.925em; color: #666; display: inline-block;}
    .contect-block .aboutme{
    width: 35em;
    margin: 0 auto;
    }    
    .contect-block img{
    margin: 1.5em 0.5em;
    }
    .contect-block h5{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    }
    .contect-block p{
    color: #b29b49;
    font-size: 1em;
    line-height: 1em;
    margin-top: 0.5em;
    }    
    .contect-block a{
    color: #b29b49;
    text-decoration: none;
    }
    .contect-block a:hover,a:visited{
    color: #997220;
    text-decoration: underline;
    }
    .footer{
    text-align: right;
    margin: 1em 0;
    }

@media only screen and (max-width: 1024px) {    
    .container{ min-width:100%;width: 100%; }
    .container .main{top:4em;}
    .work-block{margin: 1em 0;}
    .work-block h4{margin-bottom: 0.5em;}
    .work-item{ padding: 0;margin: 1.5em 0;}
    .work-item .work-pic{
        max-height: 10.5em;
        max-width: 20em;
        margin: 0 auto;
        background-image: none;
    }
    .work-item figcaption{text-align: center; margin: 0.75em auto; line-height: 1.5em;width: 80%;}
    .work-item .item-description{font-size: 1em;}
    .work-item .item-name {margin: 0.25em 1em 0;}
    .work-item .work-pic img{        
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        margin:0;
        }
    .contect-block .aboutme{width: 20em;padding: 0 0.5em; }
}

@media only screen and (min-width: 770px) {
    .work-pic img{
    max-width: 100%;
    height: auto;
    position: absolute; 
    }
}

/* sprite */
.sprite {
    background-image: url("../images/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 60px auto;
}
.sprite-fb {
    width: 40px;
    height: 40px;
    background-position: -10px -10px;
}
.sprite-mail {
    width: 40px;
    height: 40px;
    background-position: -10px -70px;
}
.sprite-pinterest {
    width: 40px;
    height: 40px;
    background-position: -10px -130px;
}
@media only screen and (min-width: 769px) {
.sprite {
    background-size: 80px auto;
}
.sprite-fb {
    width: 50px;
    height: 50px;
    background-position: -15px -15px;
}
.sprite-mail {
    width: 50px;
    height: 50px;
    background-position: -15px -95px;
}
.sprite-pinterest {
    width: 50px;
    height: 50px;
    background-position: -15px -175px;
}
}

/* tossing */
  .icon a:hover{
	animation-name: tossing;
	-webkit-animation-name: tossing;
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes tossing {
	0% {
		transform: rotate(-10deg);	
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);	
	}						
}
@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-10deg);	
	}
	50% {
		-webkit-transform: rotate(10deg);
	}
	100% {
		-webkit-transform: rotate(-10deg);	
	}				
}